{% comment %} 1 - Nome Completo:
Use um título para apresentar seu nome completo de forma clara e
destacada.

2 - Quem é Você:
Escreva um parágrafo detalhado sobre quem você é, incluindo
informações sobre sua identidade, interesses e talvez um pouco
sobre suas experiências.

3 - Onde Vive:
Use outro parágrafo para descrever onde você vive, mencionando a
cidade ou região. {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Guilherme Reis Correia</h1>

    <p>Meu nome Guilherme, tenho 20 anos, nasci no ano 2004 <br>
    </p>

    <p>salvador-Ba-Brasil</p>
</body>
</html>