<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastre seu produto aqui</h1>

    <form method="POST">
        {{ forms.as_p }}
        <button type="submit">CADASTRAR PRODUTO</button>
    </form>
    
    {% if forms.errors %}
      <ul>
        {% for campo in forms%}
            {% for erro_campo in campo.errors%}
        <li> {{ erro_campo }}</li>
            {% endfor %}
        {% endfor %}
      </ul>
    {%endif%}
</body>
</html>