<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticaded %}
        <p>Bem vindo, {{user.username }}</p>
        {% endif %}
    <h1>Cadastre seu produto aqui</h1>

    <form method="post">
        {% csrf_token %}
        {{ formulario_de_cadastrar_produto }}
        <button type="submit">Cadastrar</button>
    </form>
 {% for campo in formulario_de_cadastrar_produto%}
        {% if campo.errors%}
        <ul>
            {% for erro in campo.errors %}
            <li> {{ erro }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}

</body>
</html>