<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista de produtos</title>
</head>
<body>
    <h1>Lista de Produtos Cadastrados</h1>
    <h2>Lista de Produtos Cadastrados</h2>
    <h3>Lista de Produtos Cadastrados</h3>
    <h4>Lista de Produtos Cadastrados</h4>
    <h6>Lista de Produtos Cadastrados</h6>
    <p>Aqui tem uma lista de produtos<br>
        espero que voce goste 
    </p>
<p>Aqui tem um paragrafo</p>
<hr>

<ul>
    <li>macarrão</li>
    <li>feijão</li>
    <li>arroz</li>
    <li>farofa</li>
</ul>

<ul>
    {% for produto in tupla_de_produtos%}
        <li>{{produto}}</li>
    {% endfor%}
</ul>

crie uma view contendo uma lista de roupa(minimo 6 roupas)
logo apos exiba essas roupas em um arquivo html renderizado

</body>
</html>